# Database
DATABASE_URL="postgresql://ferre:ferre123@localhost:5432/ferreteria?schema=public"

# Auth
SESSION_SECRET="cambiar-por-secret-seguro-en-produccion-min-32-caracteres"

# App
NODE_ENV="development"
NEXT_PUBLIC_APP_NAME="Ferretería Chavalos"


